{% extends "portal/base.html" %}

{% block title %}All Teams{% endblock %}


{% block content %}
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title float-left">All Teams</h4>
                  <a href="{% url "teams:create" %}" class="btn float-right btn-outline-default">Create</a>
              </div>
              <div class="card-body">
{#                <div class="table-responsive">#}
                <div class="">
                  <table class="table">
                    <thead class=" text-primary">
                        <th>
                            No
                        </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Campaign
                      </th>
                      <th>
                        Agents
                      </th>
                      <th>
                        Actions
                      </th>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ team.name }}</td>
                                <td>
                                    {% if team.campaign %}
                                        <a href="{% url "campaigns:detail" id=team.campaign.id %}">{{ team.campaign.name }}</a>
                                    {% else %}
                                        <p>-</p>
                                    {% endif %}
                                </td>
                                <td>{{ team.get_agents_count }}</td>
                                <td>
                                    <a href="{% url "teams:detail" id=team.id %}" class="btn btn-default">View</a>
                                    <a href="{% url "teams:update" id=team.id %}" class="btn btn-info">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}